body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:beige; 
    color: black;
    margin: 15;
    padding: 15;  
    }

    section {
        margin-top: 15px;
    }
            
    h1, h2, h3, p {
        text-align: center;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    video, 
    iframe {
        display: block;
        margin: 0 auto;
    }
 