body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:beige; 
    color: black;
    margin: 15px;
    padding: 15px;  
    }

    header, nav, footer {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid saddlebrown;
        border-radius: 10px;
    }
            
    h1, h2, p, nav {
        text-align: center;
        list-style-position: inside;
    }

    ul {
        text-align: center;
    }

    ul.no-bullets {
        list-style: none;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    section {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid saddlebrown;
        border-radius: 10px;
    }

    img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    video, 
    iframe {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
 
    .image-container {
        display: flex;
    }